.img-preview{
    width: 150px;
    max-width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.img-preview h2{
    font-size: 1rem;
    font-weight: normal;
}
.img-preview img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}